{% extends "layout.html" %}
{% block content %}
<body>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <div class="bg_2">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="paper">
            <div class="paper-content">
                <div class="kibunform">
                    <h1>今の気分を選んでね！</h1>
                    <br>
                    <form action="/kibun2" method="POST">
                        <label><input type="checkbox" name="fav" value="スッキリ">スッキリ</label>
                        <label><input type="checkbox" name="fav" value="コク">コク</label>
                        <br>
                        <label><input type="checkbox" name="fav" value="フルーティー">フルーティー</label>
                        <label><input type="checkbox" name="fav" value="和風">和風</label>
                        <br>
                        <label><input type="checkbox" name="fav" value="苦味">苦味</label>
                        <label><input type="checkbox" name="fav" value="甘さ">甘さ</label>
                        <br>
                        <label><input type="checkbox" name="fav" value="低アルコール">低アルコール</label>
                        <label><input type="checkbox" name="fav" value="高アルコール">高アルコール</label>
                        <br>
                        <label><input type="checkbox" name="fav" value="高級感">高級感</label>
                        <label><input type="checkbox" name="fav" value="手軽さ">手軽さ</label>
                        <br>
                        <input type="text" size="50" name="fav" placeholder="ex）香り,ホッピー,なめらか">
                        <br>
                        <br>
                        <button type="submit" class="btn">今の気分を送信！</button>
                        <div class="loading">
                            <img src="../static/images/beer-18.gif" style="margin: 0px; vertical-align: top; width: 30% ;height: 90px">
                        </div>
                        <script>
                            $(function() {
                                $('.btn').on('click', function() {
                                    $('.btn').hide();
                                    $('.loading').show();
                                });
                            });
                        </script>
                    </form>
                    
                </div>
            </div>
        </div>
        <!--<div class="kibunkekka">
            <a href="/">TOPへ戻る</a>
        </div>-->
    </div>
</body>
{% endblock %}